##############################
## Maven
##############################
target/

##############################
## IntelliJ
##############################
out/
.idea/

##############################
## Development 
##############################
localhost.p12
